<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.landvibe.core.userfaq.UserFaqDao">
	
	<resultMap type="UserFaq" id="faqResultMap">
		<id property="faq_no" column="faq_no" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="register_date" column="register_date" />
	</resultMap>
	
	<sql id="faqColumns">
		faq_no,
		title,
		content,
		register_date
	</sql>
	
	<insert id="insert" parameterType="UserFaq">
		INSERT INTO 
			ft_user_faq(
				title,
				content,
				register_date
			)
			VALUES (
				#{title},
				#{content},
				NOW()
			)
		<selectKey resultType="long" order="AFTER" keyProperty="faq_no">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>

	<select id="selectByNo" resultMap="faqResultMap" parameterType="long">
		SELECT
			<include refid="faqColumns" />
		FROM 
			ft_user_faq
		WHERE 
			faq_no = #{faq_no}
	</select>
	
	<select id="selectList" resultMap="faqResultMap">
		SELECT
			<include refid="faqColumns" />
		FROM 
			ft_user_faq
	</select>
	
	<select id="selectDateList" resultMap="faqResultMap">
	<![CDATA[   
		SELECT
			faq_no,
			register_date
		FROM 
			ft_user_faq
		WHERE
			DATE(register_date) >= DATE(SUBDATE(NOW(),INTERVAL 7 DAY)) AND DATE(register_date) <= DATE(NOW())
	]]>
	</select>
	
	<delete id="deleteByNo" parameterType="long">
		DELETE
		FROM 
			ft_user_faq
		WHERE 
			faq_no = #{faq_no}
	</delete>

	<update id="update" parameterType="UserFaq">
		UPDATE 
			ft_user_faq
		SET
			title = #{title},
			content = #{content},
			register_date = NOW()
		WHERE 
			faq_no = #{faq_no}
	</update>



</mapper>